<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Inter Communication</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
      com.pro.emp.session.SessionTracker
    </listener-class>
  </listener>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/sanahempinfo</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.pro.emp.servlets.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupPhotoUpload</servlet-name>
    <servlet-class>com.pro.emp.servlets.GroupPhotoUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupPhotoUpload</servlet-name>
    <url-pattern>/GroupPhotoUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleleGroupPostLike</servlet-name>
    <servlet-class>com.pro.emp.servlets.DeleleGroupPostLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleleGroupPostLike</servlet-name>
    <url-pattern>/DeleleGroupPostLike*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.pro.emp.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateGroup</servlet-name>
    <servlet-class>com.pro.group.servlet.CreateGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroup</servlet-name>
    <url-pattern>/CreateGroup*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGroups</servlet-name>
    <servlet-class>com.pro.group.servlet.GetGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGroups</servlet-name>
    <url-pattern>/GetGroups*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinGroup</servlet-name>
    <servlet-class>com.pro.group.servlet.JoinGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinGroup</servlet-name>
    <url-pattern>/JoinGroup*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/GetUserInfo*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupFeeds</servlet-name>
    <servlet-class>com.pipe.groupFeed.GroupFeeds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupFeeds</servlet-name>
    <url-pattern>/GroupFeeds*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserGroup</servlet-name>
    <servlet-class>com.pipe.groupFeed.UserGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGroup</servlet-name>
    <url-pattern>/UserGroup*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>photoUploadCoverPage</servlet-name>
    <servlet-class>com.pro.emp.servlets.photoUploadCoverPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photoUploadCoverPage</servlet-name>
    <url-pattern>/photoUploadCoverPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityDelete</servlet-name>
    <servlet-class>com.pro.emp.servlets.ActivityDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityDelete</servlet-name>
    <url-pattern>/deleteActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IDProofAdd</servlet-name>
    <servlet-class>com.pro.emp.servlets.IdProofAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDProofAdd</servlet-name>
    <url-pattern>/addProof</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IDProofDelete</servlet-name>
    <servlet-class>com.pro.emp.servlets.IdProofDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDProofDelete</servlet-name>
    <url-pattern>/deleteProof</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createProfile</servlet-name>
    <servlet-class>com.pro.emp.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createProfile</servlet-name>
    <url-pattern>/createProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Helper</servlet-name>
    <servlet-class>com.pro.emp.servlets.HelperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helper</servlet-name>
    <url-pattern>/doneBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageCalSession</servlet-name>
    <servlet-class>com.pro.emp.servlets.ManageCalSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCalSession</servlet-name>
    <url-pattern>/ManageCalSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentsUpdate</servlet-name>
    <servlet-class>com.pro.emp.servlets.CommentsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsUpdate</servlet-name>
    <url-pattern>/CommentsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>com.pro.emp.servlets.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/CalendarServlet*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinalStep</servlet-name>
    <servlet-class>com.pro.emp.servlets.photoUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalStep</servlet-name>
    <url-pattern>/photoUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateCal</servlet-name>
    <servlet-class>com.pro.emp.servlets.GenerateCal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCal</servlet-name>
    <url-pattern>/GenerateCal*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageCrop</servlet-name>
    <servlet-class>com.pro.emp.servlets.ImageCrop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageCrop</servlet-name>
    <url-pattern>/ImageCrop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageCropCover</servlet-name>
    <servlet-class>com.pro.emp.servlets.ImageCropCover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageCropCover</servlet-name>
    <url-pattern>/ImageCropCover</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoShow</servlet-name>
    <servlet-class>com.pro.iframeDyna.PhotoShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoShow</servlet-name>
    <url-pattern>/PhotoShow*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupShow</servlet-name>
    <servlet-class>com.pro.iframeDyna.GroupShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupShow</servlet-name>
    <url-pattern>/GroupShow*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRole</servlet-name>
    <servlet-class>com.pro.emp.servlets.UpdateRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRole</servlet-name>
    <url-pattern>/UpdateRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchUsers</servlet-name>
    <servlet-class>com.pro.emp.servlets.SearchUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUsers</servlet-name>
    <url-pattern>/SearchUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadVideo</servlet-name>
    <servlet-class>com.pro.emp.servlets.UploadVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadVideo</servlet-name>
    <url-pattern>/UploadVideo*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>multiFileUploader</servlet-name>
    <servlet-class>com.pro.emp.files.FilesUploaders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>multiFileUploader</servlet-name>
    <url-pattern>/multiFileUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAlbum</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreateAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAlbum</servlet-name>
    <url-pattern>/createAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProfilePhoto</servlet-name>
    <servlet-class>com.pro.emp.files.UpdateProfilePhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfilePhoto</servlet-name>
    <url-pattern>/updateProfilePhoto*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPhotoDescription</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetPhotoDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPhotoDescription</servlet-name>
    <url-pattern>/GetPhotoDescription*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentChanged</servlet-name>
    <servlet-class>com.pro.emp.servlets.DepartmentChanged</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentChanged</servlet-name>
    <url-pattern>/DepartmentChanged*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoleManageServlet</servlet-name>
    <servlet-class>com.pro.emp.servlets.RoleManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleManageServlet</servlet-name>
    <url-pattern>/RoleManageServlet*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createLike</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreateLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createLike</servlet-name>
    <url-pattern>/createLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPhotoComments</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetPhotoComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPhotoComments</servlet-name>
    <url-pattern>/GetPhotoComments*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateComment</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreateComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateComment</servlet-name>
    <url-pattern>/CreateComment*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>com.pro.emp.servlets.DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/DeleteComment*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoleManageUpdateServlet</servlet-name>
    <servlet-class>com.pro.emp.servlets.RoleManageUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleManageUpdateServlet</servlet-name>
    <url-pattern>/RoleManageUpdateServlet*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProffession</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreateProffession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProffession</servlet-name>
    <url-pattern>/CreateProffession*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePhoto</servlet-name>
    <servlet-class>com.pro.emp.servlets.DeletePhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePhoto</servlet-name>
    <url-pattern>/DeletePhoto*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetAlbumCoverPage</servlet-name>
    <servlet-class>com.pro.emp.servlets.SetAlbumCoverPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAlbumCoverPage</servlet-name>
    <url-pattern>/SetAlbumCoverPage*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelelePostLike</servlet-name>
    <servlet-class>com.pro.emp.servlets.DelelePostLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelelePostLike</servlet-name>
    <url-pattern>/DelelePostLike*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatePublicChat</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreatePublicChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePublicChat</servlet-name>
    <url-pattern>/CreatePublicChat*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePost</servlet-name>
    <servlet-class>com.pro.emp.servlets.DeletePost</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateNewPost</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreateNewPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewPost</servlet-name>
    <url-pattern>/CreateNewPost*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCommentForPost</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreateCommentForPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCommentForPost</servlet-name>
    <url-pattern>/CreateCommentForPost*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCommentForGroupPost</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreateCommentForGroupPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCommentForGroupPost</servlet-name>
    <url-pattern>/CreateCommentForGroupPost*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateLikeForGroupPost</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreateLikeForGroupPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateLikeForGroupPost</servlet-name>
    <url-pattern>/CreateLikeForGroupPost*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePostComment</servlet-name>
    <servlet-class>com.pro.emp.servlets.DeletePostComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostComment</servlet-name>
    <url-pattern>/DeletePostComment*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Feeds</servlet-name>
    <servlet-class>com.pipe.newsfeed.Feeds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feeds</servlet-name>
    <url-pattern>/Feeds*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPost</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPost</servlet-name>
    <url-pattern>/GetPost*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTickers</servlet-name>
    <servlet-class>com.pipe.newsfeed.GetTickers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTickers</servlet-name>
    <url-pattern>/GetTickers*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUpcomingBirthDays</servlet-name>
    <servlet-class>com.pipe.newsfeed.GetUpcomingBirthDays</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUpcomingBirthDays</servlet-name>
    <url-pattern>/GetUpcomingBirthDays*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserFeedInfo</servlet-name>
    <servlet-class>com.pipe.newsfeed.UserFeedInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFeedInfo</servlet-name>
    <url-pattern>/UserFeedInfo*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserOtherFeedInfo</servlet-name>
    <servlet-class>com.pipe.newsfeed.UserOtherFeedInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOtherFeedInfo</servlet-name>
    <url-pattern>/UserOtherFeedInfo*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IsPhotoExists</servlet-name>
    <servlet-class>com.pro.emp.servlets.IsPhotoExists</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsPhotoExists</servlet-name>
    <url-pattern>/IsPhotoExists*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateLikeNotification</servlet-name>
    <servlet-class>com.pipe.newsfeed.UpdateLikeNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLikeNotification</servlet-name>
    <url-pattern>/UpdateLikeNotification*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCommentNotification</servlet-name>
    <servlet-class>com.pipe.newsfeed.UpdateCommentNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommentNotification</servlet-name>
    <url-pattern>/UpdateCommentNotification*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseMySession</servlet-name>
    <servlet-class>com.pipe.newsfeed.CloseMySession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseMySession</servlet-name>
    <url-pattern>/CloseMySession*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPostInfo</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetPostInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostInfo</servlet-name>
    <url-pattern>/GetPostInfo*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateMessage</servlet-name>
    <servlet-class>com.pro.emp.servlets.CreateMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMessage</servlet-name>
    <url-pattern>/CreateMessage*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOldLikesNotificaiton</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetOldLikesNotificaiton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOldLikesNotificaiton</servlet-name>
    <url-pattern>/GetOldLikesNotificaiton*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOldCommentNotificaiton</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetOldCommentNotificaiton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOldCommentNotificaiton</servlet-name>
    <url-pattern>/GetOldCommentNotificaiton*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMessages</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessages</servlet-name>
    <url-pattern>/GetMessages*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSentMessages</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetSentMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSentMessages</servlet-name>
    <url-pattern>/GetSentMessages*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMessagesByMail</servlet-name>
    <servlet-class>com.pro.emp.servlets.GetMessagesByMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessagesByMail</servlet-name>
    <url-pattern>/GetMessagesByMail*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMailStatus</servlet-name>
    <servlet-class>com.pro.emp.servlets.UpdateMailStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMailStatus</servlet-name>
    <url-pattern>/UpdateMailStatus*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateFriendRequest</servlet-name>
    <servlet-class>com.pro.friends.servlet.CreateFriendRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFriendRequest</servlet-name>
    <url-pattern>/CreateFriendRequest*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityAdd</servlet-name>
    <servlet-class>com.pro.emp.servlets.ActivityAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityAdd</servlet-name>
    <url-pattern>/addActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Messages</servlet-name>
    <servlet-class>com.pipe.newsfeed.Messages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messages</servlet-name>
    <url-pattern>/Messages*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateNewForum</servlet-name>
    <servlet-class>com.pro.forum.servlets.CreateNewForum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewForum</servlet-name>
    <url-pattern>/CreateNewForum*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowForum</servlet-name>
    <servlet-class>com.pro.forum.feed.ShowForum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowForum</servlet-name>
    <url-pattern>/ShowForum*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumReply</servlet-name>
    <servlet-class>com.pro.forum.servlets.ForumReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumReply</servlet-name>
    <url-pattern>/ForumReply*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMyThread</servlet-name>
    <servlet-class>com.pro.forum.servlets.DeleteMyThread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMyThread</servlet-name>
    <url-pattern>/DeleteMyThread*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
</web-app>